.find_date {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    font-style: normal;
    font-family: sans-serif;
    font-size: larger;
    box-sizing: border-box;
    text-align: center;
}
.write_date {
    box-sizing: border-box;
    justify-content: center;
    width: 80%;
    height: 50px;
    border: 1px solid black;
    font-style: normal;
    font-family: sans-serif;
    font-size: larger;
    background-color: rgb(216, 182, 182);
    color: rgb(46, 49, 46);
}
/* div :hover{
    background-color: rgb(121, 168, 145); 
}*/
.left{
    display: grid;
    align-items: center;
    text-align: center;
    font-size: x-large;
    width: 50%;
    grid-template-columns: auto;
    justify-content: center;
    background-color: #5c7228;
    color: white;
    padding: 14px 20px;
    margin: 0 auto;
    border-bottom: #e9f3e9 10px;
    border-radius: 4px;
   
}
select{
  min-height: 20px;
  padding: 5px;
  font-size: 20px;

}

.right{
    float: right;
    width: 50%;
    font-style: normal;
    font-family: sans-serif;
    font-size: medium;
    box-sizing: border-box;
    text-align: center;
}
