.search {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    
    font-style: normal;
    font-family: sans-serif;
    font-size: larger;
    box-sizing: border-box;
}
.search p {
    background-color: brown;
    color: aliceblue;
}
div :hover{
    background-color: rgb(121, 168, 145);
}